<section>
  <button class="btn">Add New</button>
</section>

<section>
  <h2>My Wish Lists</h2>
  
  {{#each lists as |list|}}
  <div>
    <h3>{{list.wishlist_name}}</h3>
  </div>
  {{/each}}
  
</section>