<div class="container">
    <div class="row">
        <div class="col-sm">
            <h2>12Wishes</h2>
            <h3>Your Holiday Wishlist Made Easy</h3>
            
        </div>
    </div>
</div>